body{
background-color: cadetblue;
font-family: Arial, Helvetica, sans-serif;
}
title{
    width:100px;
   right: 100px;
    margin:0 auto;
}

img {
  display: block; 
  margin-left: auto;
  margin-right: auto;
 
  width:50%;
}

h1{
display: block; 
  margin-left: auto;
  margin-right: auto;
 
  width:30%;

}